Repository italia-opensource/awesome-italia-opensource, pull requests merged in 2023-10, with the labels that each got.

#100 feat(awesome): add digital nomads list
  .github/pull_request_template.md
  awesome/digital_nomads/data/bansko.json
  scripts/check.py
  scripts/render.py
Labels: awesome: digital-nomads, infrastructure, ci

#102 feat(awesome): add notify
  CONTRIBUTING.md
  awesome/digital-nomads/data/bansko.json
  scripts/check.py
  scripts/notify.py
  scripts/render.py
Labels: awesome: digital-nomads, infrastructure

#101 feat(digital-nomads): added vitanellozaino experiences
  CONTRIBUTING.md
  awesome/communities/data/vitanellozaino.json
  awesome/digital-nomads/data/amsterdam.json
  awesome/digital-nomads/data/bali.json
  awesome/digital-nomads/data/bangkok.json
  awesome/digital-nomads/data/bansko.json
  awesome/digital-nomads/data/barcellona.json
  awesome/digital-nomads/data/budapest.json
  awesome/digital-nomads/data/cordoba.json
  awesome/digital-nomads/data/formentera.json
  awesome/digital-nomads/data/fuerteventura.json
  awesome/digital-nomads/data/istanbul.json
  awesome/digital-nomads/data/kuala_lumpur.json
  awesome/digital-nomads/data/madrid.json
  awesome/digital-nomads/data/malaga.json
  awesome/digital-nomads/data/singapore.json
  awesome/digital-nomads/data/siviglia.json
  awesome/digital-nomads/data/tenerife.json
  scripts/check.py
Labels: awesome: communities, awesome: digital-nomads, infrastructure
