Repository italia-opensource/awesome-italia-opensource, pull requests merged in 2023-07, with the labels that each got.

#87 Added apivault.dev in the opensource projects
  awesome/opensource/data/apivault.json
Labels: feat(opensource): add

#88 feat: add Developers Italia
  awesome/communities/data/developers-italia.json
Labels: feat(communities): add

#89 feat: add guido penta projects
  awesome/opensource/data/galactic-CV-guide.json
  awesome/opensource/data/galactic-linkedin-profile-guide.json
Labels: feat(opensource): add

#90 feat: add fabio biondi
  awesome/communities/data/fabio-biondi.json
  scripts/check.py
Labels: feat(communities): add

#91 feat: add kubernetes it
  awesome/communities/data/kubernetes-it.json
Labels: feat(communities): add

#83 adding kubernetes fury distribution
  awesome/opensource/README.md
  awesome/opensource/data/kubernetes-fury-distribution.json
Labels: feat(opensource): add

#92 feat: add sistemista italiano
  awesome/communities/data/sistemista-italiano.json
Labels: feat(communities): add

#93 feat: add plick
  awesome/companies/data/plick.json
Labels: feat(companies): add

#95 feat: add flutter italia
  awesome/communities/data/flutter-italia.json
Labels: feat(communities): add
