Repository italia-opensource/awesome-italia-opensource, pull requests merged in 2023-11, with the labels that each got.

#103 feat(awesome): added job offer bot
  README.md
  awesome/opensource/data/job-offer-bot.json
Labels: awesome: opensource

#104 feat(communities): added lalocandadeltech.json
  awesome/communities/data/lalocandadeltech.json
Labels: awesome: communities

#105 feat(opensource): added AWS Lambda Power Tuning
  awesome/opensource/data/lambda-power-tuning.json
Labels: awesome: opensource

#106 feat(communities): added fullremote.it
  awesome/communities/data/fullremote-it.json
Labels: awesome: communities

#108 feat(communities): added techcompenso
  awesome/communities/data/techcompenso.json
Labels: awesome: communities

#109 feat(digital-nomads): added syros
  awesome/digital-nomads/data/syros.json
Labels: awesome: digital-nomads

#110 feat(opensource): added make-js-component
  awesome/opensource/data/make-js-component.json
Labels: awesome: opensource

#112 fix(opensource): spaces at the end of the name property generate a wrong link for README.md
  awesome/opensource/data/make-js-component.json
Labels: awesome: opensource

#113 feat(opensource): added passkit-generator
  awesome/opensource/data/passkit-generator.json
Labels: awesome: opensource

#114 feat(communities): add edo and continuous delivery
  awesome/communities/data/continuous-delivery.json
  awesome/communities/data/edo.json
Labels: awesome: communities
