Repository italia-opensource/awesome-italia-opensource, pull requests merged in 2024-06, with the labels that each got.

#135 feat(digital-nomads): add new cities visited
  awesome/companies/data/casavo.json
  awesome/digital-nomads/data/chiang_mai.json
  awesome/digital-nomads/data/chiang_rai.json
  awesome/digital-nomads/data/da_nang.json
  awesome/digital-nomads/data/hanoi.json
  awesome/digital-nomads/data/ho_chi_minh.json
  awesome/digital-nomads/data/hoi_an.json
  awesome/digital-nomads/data/hong_kong.json
  awesome/digital-nomads/data/hua_hin.json
  awesome/digital-nomads/data/koh_samui.json
  awesome/digital-nomads/data/latina.json
  awesome/digital-nomads/data/livigno.json
  awesome/digital-nomads/data/milano.json
  awesome/digital-nomads/data/nha_trang.json
  awesome/digital-nomads/data/phuket.json
Labels: awesome: digital-nomads

#140 feat(opensource): add nutgram, hydrator and xbackbone
  awesome/opensource/data/nutgram-hydrator.json
  awesome/opensource/data/nutgram.json
  awesome/opensource/data/xbackbone.json
Labels: awesome: opensource

#141 feat(communities): add La Brigata dei Geek Estinti
  awesome/communities/data/la-brigata-dei-geek-estinti.json
Labels: awesome: communities

#142 feat(opensource): Add astro-minimal.json
  awesome/opensource/data/astro-minimal.json
Labels: awesome: opensource

#146 feat(deps): add doppler secrets
  CONTRIBUTING.md
  Makefile
  doppler.yaml
  scripts/deps.sh
  scripts/doppler.sh
Labels: infrastructure

#149 feat(communities): added PyCon Italia
  awesome/communities/data/pycon-italia.json
Labels: awesome: communities

#148 feat(digital-nomads): add a new coworking space in Málaga
  awesome/digital-nomads/data/malaga.json
Labels: awesome: digital-nomads

#147 feat(communities): added Open Source Saturday
  awesome/communities/data/open-source-saturday.json
Labels: awesome: communities

#150 feat(communities): Add TomorrowDevs
  analytics/partnership.json
  awesome/communities/data/tomorrow-devs.json
Labels: awesome: communities
