Repository italia-opensource/awesome-italia-opensource, pull requests merged in 2024-01, with the labels that each got.

#118 feat(communities): added gitbar
  awesome/communities/data/gitbar.json
Labels: awesome: communities

#120 feat(opensource): add fiume
  awesome/opensource/data/fiume.json
Labels: awesome: opensource

#121 feat(opensource): added ServerMan
  awesome/opensource/data/serverMan.json
Labels: awesome: opensource

#124 feat(awesome): add validation schema
  CONTRIBUTING.md
  awesome/opensource/README.md
  awesome/opensource/data/italiaremote.json
  awesome/opensource/data/notable.json
  scheme/communities.json
  scheme/companies.json
  scheme/digital-nomads.json
  scheme/opensources.json
  scripts/check.py
Labels: awesome: opensource, infrastructure

#122 feat(awesome): added Italian Linux Society and famous personal projects
  awesome/communities/data/italian-linux-society.json
  awesome/opensource/data/contribute-to-opensource-the-right-way.json
  awesome/opensource/data/espanso-typofixer.json
  awesome/opensource/data/gbaatm-rebirth.json
  awesome/opensource/data/gggg.json
  awesome/opensource/data/gh-license.json
  awesome/opensource/data/gitapper.json
  awesome/opensource/data/glotdict.json
  awesome/opensource/data/pydal.json
  awesome/opensource/data/share-backported.json
  awesome/opensource/data/wordpress-plugin-boilerplate-powered.json
Labels: awesome: opensource, awesome: communities

#125 feat(opensource): added open-profiler
  awesome/opensource/data/open-profiler.json
Labels: awesome: opensource
